<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
</head>
<body>

    <h2>Registrar currículo<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome Completo" name="name"> <br /><br />
        <input type="number" placeholder="Idade" name="age"><br /><br />
        <input type="text" placeholder="E-mail" name="email"><br /><br />
        <input type="number" placeholder="Telefone" name="fone"><br /><br />
        <input type="text" placeholder="Cidade" name="adress"><br /><br />
        <input type="text" placeholder="Graduação" name="graduacao"><br /><br />
        <input type="text" placeholder="Cursos" name="cursos"><br /><br />
        <input type="text" placeholder="Experiência Profissional" name="exp_profissional"><br /><br />
        <button type="submit">Submit</button>
    </form> 

</body>
</html>